*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
background:url(https://fondosmil.com/fondo/25114.jpg) ;

    font-family: 'Roboto', 'Sans serif';
}

.contenedor{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.bg_animate{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #005C98, #505BDA);
    position: relative;
    overflow: hidden;
}

.header_nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.header_nav .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}


.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}




.banner_img{
    animation: movimiento 2.5s linear infinite;
}

.banner_img img{
    width: 230px;
    display:column;
    width: 15%;
    height: auto;
}
    


/* burbujas */

.burbuja{
    border-radius: 50%;
    background: linear-gradient(to right, #d02a2a    ,#6c0503  );
    opacity: .3;

    position: absolute;
    bottom: -150;
    
    animation: burbujas 3s linear infinite ;
}

.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.burbuja:nth-child(2){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.burbuja:nth-child(3){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
}

.burbuja:nth-child(4){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
}

.burbuja:nth-child(5){
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.burbuja:nth-child(6){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(7){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(8){
    width: 100;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;
}

.burbuja:nth-child(9){
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
}

.burbuja:nth-child(10){
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}


@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}

@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}




.portada {
	width: 100%;
	background: linear-gradient(to right, #005C98, #505BDA);

	min-height: 85vh;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: .5s ease-out all;
}



.portada .header {
	margin-bottom: 100px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.portada .header .logotipo {
	font-size: 50px;
	font-size: 800;
	margin-bottom: 20px;
}

.portada .header .mensaje {
	font-size: 30px;
	font-weight: 600;
}



/* ? ----- Cuenta Regresiva ----- */
#cuenta {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.simply-section {
	background: #fff;
	width: 135px;
	height: 135px;
	margin: 0 20px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.simply-amount {
	display: block;
	font-size: 50px;
	font-weight: 700;
}

.simply-word {
	font-weight: 300;
	font-size: 30px;
}


/* ? ---------------------------- */



/* ? ----- REDES SOCIALES ----- */
.redes-sociales .btn-red-social {
	padding: 15px 0;
	display: inline-block;
	min-width: 120px;
	border-radius: 5px;
	color: #fff;
	font-size: 30px;
	margin: 0 20px;
	transition: .3s ease all;
}

.redes-sociales .btn-red-social:hover {
	box-shadow: 0px 0px 50px 10px rgba(165, 15, 15, 0.15);
}
p{
    color:white;
}

@media screen and (min-width: 800px) {
    .container {
      margin: 1em 2em;
    }
  } 
